<div class="container-fluid marginform">
    <div class="row">
        <div class="col-xs-12">
            <legend><a href="#"><i class="glyphicon glyphicon-globe"></i></a> Connexion!</legend>
            <form method="post" class="form" role="form" name="registerForm">
            <br />
            <input class="form-control" name="youremail" placeholder="Email" type="email" ng-model="email" required/>
            <br />
            <input class="form-control" name="password" placeholder="Mot de passe" type="password" ng-model="password" required ng-class="{'has-error': registerForm.$dirty && registerForm.password.$invalid, 'has-success': registerForm.password.$valid}"/>
            <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Sign Up" ng-disabled="registerForm.$invalid">
                Se connecter</button>
            </form>
        </div>
    </div>
</div>
