<div class="container-fluid marginform">
    <div class="row">
        <div class="col-xs-12">
            <legend><a href="#"><i class="glyphicon glyphicon-globe"></i></a> Connexion!</legend>
            <form action="#" method="post" class="form" role="form">
            <br />
            <input class="form-control" name="youremail" placeholder="Email" type="email" />
            <br />
            <input class="form-control" name="password" placeholder="Mot de passe" type="password" />
            <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Se connecter</button>
            </form>
        </div>
    </div>
</div>
